$bgGreen = #45b97c

$searchItemHeight = 45px

.formButton
  background: $bgGreen
  width: 66px
  border-radius: .3rem
  color: #fff
  height: 30px

.tableInlineButton
  background: $bgGreen
  width: 60px
  borde-radius: .1rem
  color: #fff
  height: 33px
